<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @track.member_id %>
</p>

<p>
  <b>Campaign:</b>
  <%= @track.campaign_id %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
