<tr id="<%= dom_id entry %>" >
  <td><%= entry.name %></td>
  <td><%= entry.default_value %></td>
  <td>
    <%= link_to 'Edit', edit_template_entry_url(entry.template, entry), :class => 'btn btn-mini', remote: true %>
    <%= link_to 'Destroy', [entry.template, entry], :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', remote: true %>
  </td>
</tr>
