<%= form_for(@click) do |f| %>
  <% if @click.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@click.errors.count, "error") %> prohibited this click from being saved:</h2>

      <ul>
      <% @click.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.number_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :campaign_id %><br />
    <%= f.number_field :campaign_id %>
  </div>
  <div class="field">
    <%= f.label :link_id %><br />
    <%= f.number_field :link_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
