<h1>链接点击分析</h1>

<table class="table table-striped" id="campaigns">
  <thead>
    <tr>
      <th>Member</th>
      <th>Campaign</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @clicks.each do |click| %>
      <tr>
        <td><%= click.member ? "#{click.member.name} <#{click.member.email}>" : "-" %></td>
        <td><%= click.campaign ? link_to(click.campaign.name, click.campaign) : "-" %></td>
        <td><%= click.link ? link_to(click.link.url, click.link.url) : "-" %></td>
        <td><%= click.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @clicks %>
