<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @click.member_id %>
</p>

<p>
  <b>Campaign:</b>
  <%= @click.campaign_id %>
</p>

<p>
  <b>Link:</b>
  <%= @click.link_id %>
</p>


<%= link_to 'Edit', edit_click_path(@click) %> |
<%= link_to 'Back', clicks_path %>
