<%= form_for @campaign, :html => { :class => 'form-horizontal' }, remote: true do |f| %>

  <%= render :partial => "common/form_error", :locals => { model: @campaign} %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
      <li><a href="#tab2" data-toggle="tab">Step 2</a></li>
      <li><a href="#tab3" data-toggle="tab">Step 3</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :from_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :from_name, :class => 'text_field' %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label :from_email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :from_email, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :subject, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :subject, :class => 'text_field' %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab2">
        <div class="control-group">
          <%= f.label :list_id, :class => 'control-label' %>
          <div class="controls">
            <% List.all.each do |list| %>
              <%= check_box_tag :list_ids, list.id, @campaign.lists.include?(list), :name => 'campaign[list_ids][]' -%>
              <%= label_tag :list_ids, list.name, :style => "display:inline" %>
              <br />
              <br />
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab3">
        <div class="control-group">
          <%= f.label :template_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :template_id, ActiveRecord::Base::Template.all.map{|t| [t.name, t.id]}, { :include_blank => "select a template"} %>
            <div id="template_entries">
              <% if @campaign && @campaign.template %>
                You entries are <%= @campaign.template.entries.to_yaml %>
              <% end %>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <a onclick="$('#<%= dom_id @campaign, action_name %>').parent().html('');return false;", class='btn'>Cancel</a>
  </div>
<% end %>

