<%= form_for @campaign, :html => { :class => 'form-horizontal' }, remote: true do |f| %>

  <%= render :partial => "common/form_error", :locals => { model: @campaign} %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :from_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_name, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :from_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_email, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :email_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <a onclick="$('#<%= dom_id @campaign, action_name %>').parent().html('');return false;", class='btn'>Cancel</a>
  </div>
<% end %>

