<h1><%= @list.name %></h1>
<br />

<%= link_to 'New', new_list_member_path(@list.id), class: 'btn btn-primary' %>
<%= link_to 'Import', members_imexport_path(@list.id), :class => 'btn' %>
<br />
<br />
<h3>There are <%= @list.members.size %> members</h3>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Create Date</th>
    <th>Action</th>
  </tr>

  <%= render @members if @members %>

</table>

<br />

