<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>List:</b>
  <%= @member.list_id %>
</p>


<%= link_to 'Edit', edit_list_member_path(@member.list, @member) %> |
<%= link_to 'Back', list_members_path(@member.list) %>
